<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/boot/boot.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="COGS Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
