<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/boot/boot.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="COGS Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <!-- DO NOT SET TO "true" CODE COVERAGE WILL BREAK -->
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./og/src</directory>
            <directory suffix=".php">./boot</directory>
            <exclude>
                <directory suffix=".php">./og/src/support/illuminate</directory>
                <directory suffix=".php">./og/src/support/lib</directory>
                <directory suffix=".php">./og/src/views/illuminate</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
